.App-header {
    background-color: #0b357b;
    min-height: auto;
  }
  .header {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    height: auto;
  }
  .header .logo {
    width: 140px;
  }
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-menu-nav {
    padding: 0;
    margin: 0;
  }
  .header-menu-nav li {
    margin: 0px;
    list-style: none;
    float: left;
    width: 200px;
    color: #fff;
    text-align: center;
    padding: 13px 0px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
  .header-search {
    min-width: 100px;
    text-align: center;
    display: flex;
    border-bottom: 3px solid #fff;
    align-items: center;
    background: #123f8c;
    color: #9bafcf !important;
    padding: 13px 10px;
  }
  .header-search input {
    padding: 0px 10px;
    background: none;
    color: #9bafcf !important;
    border: none;
    font-size: 16px;
    border: none;
    width: 200px;
  }
  .header-search input:focus {
    outline: none;
  }
  
  .header-search input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9bafcf !important;
    opacity: 1; /* Firefox */
  }
  
  .header-search input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9bafcf !important;
  }
  
  .header-search input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9bafcf !important;
  }
  
  .header-search i {
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    font-size: 18px;
  }
  .green {
    border-bottom: 3px solid #378e3c;
  }
  .red {
    border-bottom: 3px solid #f60257;
  }
  .yellow {
    border-bottom: 3px solid #ffca26;
  }
  .blue {
    border-bottom: 3px solid #2296f3;
  }


  /* SMARTPHONES PORTRAIT */
  @media only screen and (min-width: 300px) {
    .header-search{
      display: none;
    }
  }
  /* SMARTPHONES LANDSCAPE */
  @media only screen and (min-width: 480px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  /* TABLETS PORTRAIT */
  @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
  }
  
  
  /* TABLET LANDSCAPE / DESKTOP */
  @media only screen and (min-width: 1024px) {
  
  
  }
  
