html {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Home Page / Search page / */
.App-cotainer {
  height: auto;
  margin: 30px auto;
  width: 80%;
  min-width: 300px;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.bookmark {
  background-color: #0b357b;
  padding: 6px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
}
.bookmark i {
  margin-right: 8px;
}
.search {
  padding: 4px 15px;
}
.container-header h1 {
  font-size: 38px;
  padding: 5px 0px;
  margin: 0px;
  color: #222;
}
.container-header-right {
  padding: 20px 0px;
}
.container {
  display: flex;
}
.container-left {
  width: 50%;
}
.container-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-self: auto;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.container-category .category-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.container-category .category-header h1 {
  font-size: 28px;
  margin: 0px;
}
.container-category .category-header .see-more a {
  color: #2296f3;
}

/* Article Page  */
.container-aricle {
  display: flex;
}
.article-right {
  padding: 10px;
  vertical-align: middle;
}
.article-right img {
  margin-top: 40%;
  width: 100%;
}
.article-right .description {
  font-size: 12px;
}
.article-right .article-img {
  width: 80%;
  padding: 20px;
  color: grey;
}
.article-date {
  font-size: 12px;
}
.container-aricle h1 {
  font-size: 30px;
}
.container-aricle h3 {
  font-size: 20px;
  font-weight: 600;
}
.container-aricle hr {
  color: red;
  border: 0.1px solid #ececec;
}
.container-aricle .article-description {
  font-size: 14px;
}

.select-article-type {
  border-bottom: 1px solid #333;
  padding: 6px 12px;
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.select-article-type option {
  padding: 10px;
  background-color: red;
}

/* Master CSS */
.col-6 {
  width: 50% !important;
}
.col-3 {
  width: 33.3333%;
}


/* SMARTPHONES PORTRAIT */
@media (min-width: 320px) and (max-width: 480px) {
  
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* TABLETS PORTRAIT */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}
